body {
  font-family: "Roboto", sans-serif;
  color: rgb(112, 112, 112);
}

h1 {
  font-weight: 300;
}

table#songs {
  border-spacing: 20pt 0pt;
  background-color: rgb(229, 229, 229);
  border-radius: 3pt;
  thead tr {
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    color: black;
  }
  tbody {
    @border-height: 2pt;
    tr:not(:last-of-type) td {
      border-bottom: @border-height/2 solid rgb(217, 217, 217);
    }
    tr:not(:first-of-type) td {
      border-top: @border-height/2 solid rgb(217, 217, 217);
    }
    tr td.albumart {
      height: 3em;
      width: 3em;
      text-align: right;
      img {
        height: 100%;
      }
    }
  }
}
