html {
  height: 100%;
}

a {
  color: #036090;
  text-decoration: none;
}

header {
  background: black;
  background: linear-gradient(to bottom,#222,#111);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
  color: #999;
  border: 1pt solid transparent;
  border-radius: 4pt;
  margin-bottom: 10pt;
  padding: 0pt 10pt;
}

header h1 {
  font-weight: normal;
  font-size: large;
}

.content {
  max-width: 640pt;
  float: center;
  margin: 1em auto;
  font-family: Verdana, Helvetica, sans-serif;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

/* If we put the background directly in the body, the filter will affect the
 * entire body, which is not what we want. */
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* TODO: Have the server return a list of images and use JavaScript to pick
   * one. */
  background-image: url(image.php);
  background-position: center;
  background-size: cover;
  filter: blur(5px) contrast(75%) saturate(25%) brightness(250%);
  -moz-filter: blur(5px) contrast(75%) saturate(25%) brightness(250%);
  -webkit-filter: blur(5px) contrast(75%) saturate(25%) brightness(250%);
}

#labs {
  width: 56pt;
  float: left;
}

#lab-details {
  margin-left: 72pt;
  text-shadow: 0 1pt 1pt rgba(0,0,0,0.4);
}

footer {
  font-size: small;
  border-top: 1pt solid #5a5a5a;
  bottom: 0;
  height: 2em;
  position: absolute;
  width: inherit;
}
